#header {
	text-align: center;
}
img.straw_hat_pirates {
	transform: rotate(-90deg);
	float: left;
	margin: 10px;
	height: 400px;
	width: 400px;
	border: 2px ridge black;
}
img.map_one_piece {
	float: left;
	margin: 10px;
	height: 320px;
	width: 320px;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
img.roger {
	float: left;
	margin: 10px;
	border: 2px ridge black;
}
img.child_luffy {
	float: right;
	margin: 5px;
	border: 2px ridge black;
}
img.komand {
	float: left;
	margin: 5px;
	border: 2px ridge black;
}
